.team {
    padding: 20px;
    display: grid;
    grid-template-areas:
        "taskbar taskbar"
        "pokemons box";
    grid-template-columns: 904px 1fr;
    gap: 20px;
    
}
.taskbar {
    grid-area: taskbar;
    display: flex;
    gap: 20px;
    align-items: center;
}
.taskbar > button {
    cursor: pointer;
}
.taskbar > input {
    cursor: default;
    outline: none;
}

.team-pokemons {
    display: flex;
    flex-wrap: wrap;
    grid-area: pokemons;
    gap: 10px;
}

.box {
    grid-area: box;    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(111, 111, 111);
    height: 837px;
    box-shadow: 2px -2px 2px rgb(0, 0, 0, 0.7);
    min-width: 700px;
    background-color: rgb(135,206,250, 0.7);
    position: relative;
    min-height: 400px;
}
.box > .close-icon {
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
    font-size: 20px;

}
.box-heading {
    border-bottom: 1px solid rgb(111, 111, 111);
    padding: 0 38px 0 30px;
    border-radius: 10px 10px 0 0;
}
.box > .items > .item:nth-child(odd) {
    background-color: rgba(194, 230, 253, 0.7)
}
.box > .items > .item:nth-child(even) {
    background-color: rgba(150, 213, 252, 0.7)
}
.box > .items > .item:nth-child(odd).selected {
    background-color: rgba(35, 35, 152, 0.7) !important;
    color: white;
}
.box > .items > .item:nth-child(even).selected {
    background-color: rgb(8, 8, 129, 0.7) !important;
    color: white;
}
.box-heading, .box > .items > .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-heading > p, .box > .items > .item > p {
    width: 8%;
}
.box > .items {
    overflow-y: auto;
    height: 100%;
    border-radius: 0 0 10px 10px;
}
.box > .items.scrollbar-present > .item {
    padding: 0 30px;
}

.box > .items > .item {
    padding: 0 38px 0 30px;
    cursor: pointer;
}
.box > .items.scrollbar-present > .item {
    padding: 0 30px;
}
.box > .items > .item:hover {
    background-color: rgba(78, 78, 206, 0.7);
    color: white;
}

.box > .items::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(135,206,250, 0.7);
  border-radius: 0 0 10px 0;
}

.box > .items::-webkit-scrollbar-thumb {
  background-color: #6B6B6B;
  border-radius: 4px;
}
.box > .stats-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 20px;
}
.box > .stats-table > tr > th, .box > .stats-table > tr > td {
    text-align: center;
    padding: 8px 0;
}

.box > .stats-table > tr > td > .stat-input {
    width: 45px;
}
.box > .stats-table > tr > .nature {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    width: 0;    
}
.box > .stats-table > tr > .remaining-ev {
    font-style: italic;
    padding-top: 38px;
    width: 0;
    white-space: nowrap;
}

@media screen and (max-width: 1666px) {
    .team {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 904px;
        margin: 0 auto;
    }
    .taskbar {
        width: 100%;
    }
    .team-pokemons > .current-pokemon {
        margin-bottom: calc(max(412px, 60vh + 12px));
    }
    .team-pokemons > .pokemon {
        height: 231px;
    }
    .box {
        position: absolute;
        height: 60vh;
        width: 904px;
        left: 20px;
    }
}
@media screen and (max-width: 943px) {
    .team {
        width: 447px;
        margin: 0 auto;
    }
    .box {
        font-size: 12px;
        width: 445px;
        min-width: unset;
    }
    .box > .box-heading {
        padding: 0 15px 0 7px;
    }
    .box > .items.scrollbar-present > .item {
        padding: 0 7px;
    }    
    .box > .items > .item {
        padding: 0 15px 0 7px;
        cursor: pointer;
    }
    .box > .items > .item > p > img {
        width: 23px;
    }
    .box > .stats-table > tr > td > .stat-input {
        width: 25px;
        font-size: 11px;
    }
    .box > .stats-table > tr > .nature > select {
        font-size: 11px;
    }
}
@media screen and (max-width: 487px) {
    .team {
        padding: 20px 10px;
        transform-origin: top left;
    }
    .box {
        left: 10px;
    }
}