.team-builder {
    padding: 20px;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.create-team {
    width: 652px;
}
.create-team > .create {
    margin-right: 10px;
}
.create-team > p {
    margin: 5px 0;
    color: rgb(222, 48, 48);
}
.teams {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 82px);
}
.teams::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    border-radius: 0 0 10px 0;
}
  
.teams::-webkit-scrollbar-thumb {
    background-color: #6B6B6B;
    border-radius: 4px;
}

.team-box {
    border: 1px solid rgb(111, 111, 111);
    background-color: rgb(135,206,250, 0.7);
    width: 650px;
    border-radius: 5px;
    box-shadow: inset 0 0 15px white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px 0;
}
.team-info {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 10px
}
.team-info > .shake {
    animation: shake 0.5s;
    color: rgb(222, 48, 48);
    outline-color: rgb(222, 48, 48);
}
.team-info > p {
    font-size: 20px;
    margin: 10px;
    font-style: italic
}

.team-info > .icon:hover {
    transform: scale(1.3);
    transform-origin: bottom left;
}
.team-info > .icon {
    color: rgb(111, 111, 111);
}
.sprites {
    display: flex;
    height: 80px;
    gap: 5px;
}
.sprites > img {
    width: 80px
}
.sprites > .placeholder {
    width: 80px;
    height: 80px
}
@keyframes shake {
    0%, 100% {
      transform: translate(0, 0);
    }
    40%, 80% {
      transform: translate(2px, -2px);
    }
    20%, 60% {
      transform: translate(-2px, 2px);
    }
}
@media screen and (max-width: 1000px) {
    .team-builder {
        align-items: center;
        justify-content: start;
    }
    .teams {
        width: auto;
    }
    .teams.scrollbar-present > .team-box {
        width: 642px;
    }
    
}
@media screen and (max-width: 769px) {
    .create-team {
        width: calc(100vw - 38px);
    }
    .team-box {
        width: calc(100vw - 40px);
    }
    .teams.scrollbar-present > .team-box {
        width: calc(100vw - 48px);
    }
    .sprites {
        height: 12vw
    }
    .sprites > img {
        width: 12vw
    }
    .sprites > .placeholder {
        width: 12vw;
        height: 12vw;
    }
}